html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root, #app, #map {
  height: 100%;
}

#map {
  margin-left: 200px;
}


.map {
  .row .map__display {
    height: 35em;
    position: relative;
    right: 25px;
    top: 0px;
  }


}

